@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
.card {
  background-color: #fff;
  border-radius: 4px;
  max-width: 500px;
  margin: 0% auto;
  height: 290px;
  
  padding: 8px;
  color: #444;
  
}
.card:before {
  content: '';
  display: block;
  position: absolute;
  background-color: #ccc;
  left: 20px;
  right: 20px;
  bottom: 0;
  top: 50%;
  z-index: -1;
  box-shadow: 0 0 40px #999999;
  transition: box-shadow .2s ease-in-out;
}
.card.level-3:hover:before {
  box-shadow: 0 0 80px #999999;
}
.card h5 {
  font-weight: 300;
  font-size: 30px;
}
.floting{
  position: fixed;
  bottom: 2em;right: 2em;
  z-index: 100;
}
.card h1{
  text-align: center;
  font-size: 40px;

}
.card a:before {
  content: '';
  display: block;
  position: absolute;
  background-color: #ccc;
  left: 20px;
  right: 20px;
  bottom: 0;
  top: 50%;
  z-index: -1;
  box-shadow: 0 0 40px #999999;
  transition: box-shadow .2s ease-in-out;
}

.esquina form {
float: right;

}