
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

 }

 body{
	background-color:red;

}

.no-margin{
  margin:0px;	
}

.no-padding{
	padding:0px;
}
.large-padding{
	padding:10px 15px;
}

.big-padding{
	padding:30px;
}

.no-transform{
	text-transform: none;
}

.blue-grey{
	padding:30px;
}

.white{
	background-color:white;
}

.white-text{
	color:white;
}

.red-text{
	color:rgb(200,50,50);
}

.inline-block{
	display:inline-block;
}

.table{
	background-color:white; 
}

.absolute{
	position:absolute;
}

 .floating{
	position:fixed;
	bottom:2em;
	right:2em;
	z-index:100;
}

.product{
	width:600px;
	max-width:100%;
	padding:1em;
	position:relative;

	h1{
	padding-bottom:10px;
	border-bottom:solid 1px;
	}

	.actions{
	right:1em;
	top:10px;
	}
}


